*{
    margin: 0;
    padding: 0;
}
.Header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(202, 202, 100, 0.704);
    width: 100%;
}
.left{
    display: flex;
    justify-content: space-between;
}
img{
    margin: 7px;
    padding: 7px;
}
h2{
    margin-top: 30px;
    padding: 10px;
}